/node_modules
/public/hot
/public/@web_hot
/public/@admin_hot
/public/build
/storage/*.key
/storage/framework/maintenance.php
/vendor
fullchain.cert
privkey.key
/.letsencrypt
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
laravel-echo-server.json
laravel-echo-server.lock
nodes/litecoin/bin/nohup.out
nodes/dogecoin/bin/nohup.out
nodes/bitcoin/bin/nohup.out
nodes/bitcoin-abc/bin/nohup.out
nodes/geth/bin/nohup.out
nohup.out
worker.log
/.idea
/.vscode
cloudflared.exe
_update.patch

@admin/resources/sass/themes-map.scss.backup
@web/resources/sass/themes-map.scss.backup

@admin/node_modules
@web/node_modules
@sport/node_modules
