$themes: (
  dark: (
    text: white,
    secondary: #9aa1ff,
    background: #1a191e,
    sidebar: #1c1b20,
    block: #1c1b20,
    block-2: #201f25,
    border: #201f25,
    link: #cbcbcb,
    input: #24232a,
    inputHover: #29272f,
    switchBackground: rgb(255, 255, 255, .15),
    switchBackgroundDot: rgb(255, 255, 255, .15),
    switchBackgroundOn: #4bcb27,
    switchBackgroundDotOn: rgb(255, 255, 255, .4),
    criticalColor: #ffaeae,
    criticalBorder: #ef6262,
    infoColor: #dcdeff,
    infoBorder: #9aa1ff,
    warningColor: #ffddbf,
    warningBorder: #ffc99a
  ),
  lightDark: (
    text: white,
    secondary: #6d74f8,
    background: #1f2125,
    block: #212327,
    sidebar: #212327,
    block-2: #25272c,
    border: #232527,
    link: #cbcbcb,
    input: #292b31,
    inputHover: #292b31,
    switchBackground: rgba(255, 255, 255, .15),
    switchBackgroundDot: rgba(255, 255, 255, .15),
    switchBackgroundOn: #4bcb27,
    switchBackgroundDotOn: rgba(255, 255, 255, .4),
    criticalColor: #ffaeae,
    criticalBorder: #ef6262,
    infoColor: #dcdeff,
    infoBorder: #9aa1ff,
    warningColor: #ffddbf,
    warningBorder: #ffc99a
  ),
  light: (
    text: black,
    secondary: #3661ec,
    background: white,
    sidebar: #ebe4f2 linear-gradient(235deg, #cec1ff -10%, transparent 40%),
    block: #fbfbfb,
    block-2: #f2f2f2,
    border: #eff1f5,
    link: #151515,
    input: #f6f6f6,
    inputHover: #f2f2f2,
    switchBackground: rgba(0, 0, 0, .15),
    switchBackgroundDot: rgba(0, 0, 0, .15),
    switchBackgroundOn: #4bcb27,
    switchBackgroundDotOn: rgba(255, 255, 255, .4),
    criticalColor: #ff5c5c,
    criticalBorder: #f34c4c,
    infoColor: #3661ec,
    infoBorder: #305ceb,
    warningColor: #ff7800,
    warningBorder: #fb9842
  )
);
